<form>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="">Add Notes</label>
            <textarea class="form-control" placeholder="Notes"></textarea>
            <a href="" class="btn btn-primary">Save and Add</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <label for="">Created by Admin</label>
            <span class="pull-right"><a href="" title="Edit"><i class="fa fa-edit"></i></a> <a href="" title="Delete"><i class="fa fa-trash"></i></a></span>
            <input type="text" class="form-control" placeholder="Message">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <label for="">Created by Admin</label>
            <span class="pull-right"><a href="" title="Edit"><i class="fa fa-edit"></i></a> <a href="" title="Delete"><i class="fa fa-trash"></i></a></span>
            <input type="text" class="form-control" placeholder="Message">
        </div>
    </div>
</form>


