<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="AppBaseUrl" value="http://localhost:56526" />
		<add key="AdStatus" value="false" />
		<add key="ADConnectionString" value="" />
		<add key="ProjectID" value="FITS" />
		
		<!-- <add key="EmailToID" value="Pawas.Goyal@cylsys.com,vikrantthakur151@gmail.com" />
		<add key="EmailCcID" value="Pawas.Goyal@cylsys.com,vikrantthakur151@gmail.com" />
		
		<add key="EmailToID" value="Pawas.Goyal@cylsys.com,vikrantthakur151@gmail.com" />
		<add key="EmailCcID" value="Pawas.Goyal@cylsys.com,vikrantthakur151@gmail.com" />-->
		
		<add key="EmailServiceBaseURL" value="https://emailservice.cylsys.com/" />
		<add key="EmailServiceSendURL" value="https://emailservice.cylsys.com/api/SmtpEmail/SendEmail" />
		<!--<add key="EmailServiceSendMeetingRequest" value="https://emailservice.cylsys.com/api/SmtpEmail/sendEMailMeetingRequest"/>-->
		<add key="EmailServiceSendMeetingRequest" value="http://localhost:13310/api/SmtpEmail/sendEMailMeetingRequest" />
		<add key="EmailServiceUser" value="gfpemailserviceUser" />
		<add key="EmailServicePassword" value="emailsfperviceUser@@##$$" />
		<add key="GDServiceBaseURL" value="https://googledriver.cylsys.com/" />
		<add key="GDServiceUploadURL" value="https://googledriver.cylsys.com/api/GoogleDriveCRUD/UploadFile" />
		<add key="GDServiceDownloadURL" value="https://googledriver.cylsys.com/api/GoogleDriveCRUD/DownLoadFile" />
		<add key="GDServiceAbsolutePath" value="D:/API-Collections/GoogleDrivePublish/" />
		<add key="ResumeParsingAPI" value="http://localhost:53192/api/ParseResume/GetData" />
		<add key="Error_log" value="D:\WorkingProjects\Medical R G Live 07 Dec 2024 14 Jan bkp\Medical R G\MedicalR" />
		
		<add key="html_template_dir" value="D:\Cylsys Private Limited Projects\MedicalR\MedicalR\wkhtmltopdf\" />
		<add key="Gridhtml" value="D:\Cylsys Private Limited Projects\MedicalR\MedicalR\downloadFormat\EditCheckingGrid.html" />
		<add key="Approvalhtml" value="D:\Cylsys Private Limited Projects\MedicalR\MedicalR\downloadFormat\ApprovalList.html" />
		<add key="OfficeNotehtml" value="D:\Cylsys Private Limited Projects\MedicalR\MedicalR\downloadFormat\OfficeNote.html" />
		<add key="BankAdvisehtml" value="D:\Cylsys Private Limited Projects\MedicalR\MedicalR\wkhtmltopdf\BankAdvise.html" />
		<add key="CHCOfficeNotehtml" value="D:\Cylsys Private Limited Projects\MedicalR\MedicalR\downloadFormat\CHCOfficeNote.html" />
		<add key="CHCOfficeNotehtmlMum" value="D:\Cylsys Private Limited Projects\MedicalR\MedicalR\downloadFormat\CHCOfficeNoteMum.html" />
		<add key="MedicalBatchwisePrint" value="D:\Cylsys Private Limited Projects\MedicalR\MedicalR\downloadFormat\uti.html" />
		<!--<add key="CC_santioned_mail" value="santosh.madane@cylsys.com,ghanshyam.vishwakarma@cylsys.com"/>-->
		<add key="CC_santioned_mail" value="Durgesh.Patle@cylsys.com" />
		<add key="MedicalR_Sanctioned" value="D:\Cylsys Private Limited Projects\MedicalR\MedicalR\downloadFormat\MedicalR_Sanctioned.html" />
		<add key="CHCBankAdvisehtml_BRANCH" value="D:\Cylsys Private Limited Projects\MedicalR\MedicalR\downloadFormat\CHCBankAdvise_BRANCH.html" />
		<add key="CHCBankAdvisehtml_MUMBAI" value="D:\Cylsys Private Limited Projects\MedicalR\MedicalR\downloadFormat\CHCBankAdvise_MUMBAI.html" />
		<add key="MedicalRequestPrint" value="D:\Cylsys Private Limited Projects\MedicalR\MedicalR\downloadFormat\medical_request_print.html" />
		<!--<add key="MedicalRequestPrint" value="D:\Medical R G\Medical R G\MedicalR\downloadFormat\medical_request_print.html"/>-->
		<!--<add key="SmtpPrimaryMailServer" value="smtp-postfix.utiamc.com"/>-->


		<add key="SmtpPrimaryMailServer" value="smtp.office365.com" />
		<add key="SmtpPort" value="587" />
		<add key="SenderEmail" value="durgesh.patle@cylsys.com" />
		<add key="SenderPass" value="Cylsys@2" />
		<add key="Port" value="587" />
		<add key="IsSsl" value="true" />

		<!--<add key="html_template_dir" value="D:\UTI AWS WORK\UTI_APP_DEVELOPMENT\MedicalR\MedicalR\downloadFormat" />-->
		<add key="wkhtml" value="D:\Cylsys Private Limited Projects\MedicalR\MedicalR\wkhtmltopdf\wkhtmltopdf.exe" />
		<add key="EPPlus:LicenseContext" value="Custom" />
	</appSettings>

	<connectionStrings>
		<add name="mycon" connectionString="host=103.12.1.183; Username=postgres; Password=sqlpass; Database=MedicalR;" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Xml" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml.Framework" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>