@{
    ViewBag.Title = "SettlementReport";
}

<div class="container-fluid headtop">
    <div class="row">
        <div class="col-md-12 p-0">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-dark"><strong>Statistics ></strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Settlement Report</a>
                </li>
            </ul>
            <hr class="m-0">
        </div>

        <article class="col-md-12">
            <br />
            <div class="form-row">

                <div class="form-group col-md-3">
                    <label>From Date</label>
                    <input type="date" id="from_date" class="form-control" />
                </div>

                <div class="form-group col-md-3">
                    <label>To Date</label>
                    <input type="date" id="to_date" class="form-control" />
                </div>

                <div class="form-group col-md-3">
                    <label>Band Name</label>
                    <select id="band" class="form-control">
                        <option value="">--Select--</option>
                        @foreach (var item in ViewBag.Bands)
                        {
                            <option value="@item.id">@item.name</option>
                        }
                    </select>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-sm-1">
                    <label>.</label>
                    <button type="button" id="btnSearch" class="btn btn-primary form-control">
                        Search
                    </button>
                </div>

                <div class="form-group col-sm-2" id="downloadDiv" style="display:none;">
                    <label>.</label>
                    <a id="btnDownload" class="btn btn-primary form-control">
                        Download
                    </a>
                </div>
            </div>
        </article>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="overflow-auto">
                <table class="table table-hover table-bordered" id="table_id">
                    <thead>
                        <tr class="bg-primary text-white text-center">
                            <th>SrNo.</th>
                            <th>Employee Name</th>
                            <th>Patient Name</th>
                            <th>Treatment Type</th>
                            <th>Band</th>
                            <th>Date Of Request</th>
                            <th>Bill Date</th>
                            <th>Claim Amount</th>
                            <th>Sanction Amount</th>
                            <th>Balance Amount</th>
                            <th>Sent To Tmo</th>
                            <th>Received From Tmo</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>

    var temp_from_date = "";
    var temp_to_date = "";

    $(document).ready(function () {

        // Default today date (same as Angular new Date())
        var today = new Date().toISOString().split('T')[0];
        $("#from_date").val(today);
        $("#to_date").val(today);

        convertDate();

        //loadBands();

        $("#from_date, #to_date, #band").change(function () {
            convertDate();
        });

        $("#btnSearch").click(function () {
            getSettlementReport();
        });

        $("#btnDownload").click(function () {

            var band = $("#band").val() || "Select";

            var url = "/Report/SettelmentReport/" +
                temp_from_date + "/" +
                temp_to_date + "/1_" +
                band + "/";

            window.location.href = url;
        });

    });


    // Equivalent of Angular convertdate()
    function convertDate() {

        var from_date = $("#from_date").val();
        var to_date = $("#to_date").val();

        if (from_date)
            temp_from_date = from_date;

        if (to_date)
            temp_to_date = to_date;
    }


    //function loadBands() {

    //    $.ajax({
    //        url: "/Common/GetBands",
    //        type: "GET",
    //        success: function (response) {

    //            $("#band").empty();
    //            $("#band").append('<option value="">Select</option>');

    //            $.each(response, function (i, item) {
    //                $("#band").append(
    //                    '<option value="' + item.id + '">' + item.name + '</option>'
    //                );
    //            });
    //        }
    //    });
    //}


    function getSettlementReport() {

        var band = $("#band").val() || "Select";
        var from_date = $("#from_date").val();
        var to_date = $("#to_date").val();

        $("#btnSearch").text("Searching...");

        $.ajax({
            url: "/Report/GetSettlementReport",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                band: band,
                from_date: from_date,
                to_date: to_date
            }),
            success: function (response) {

                $("#btnSearch").text("Search");

                if ($.fn.DataTable.isDataTable('#table_id')) {
                    $('#table_id').DataTable().clear().destroy();
                }

                var tbody = $("#table_id tbody");
                tbody.empty();

                if (response.length > 0) {
                    $("#downloadDiv").show();
                } else {
                    $("#downloadDiv").hide();
                }

                $.each(response, function (index, item) {

                    tbody.append(`
                        <tr class="text-center">
                            <td>${index + 1}</td>
                            <td>${item.employeename || ''}</td>
                            <td>${item.patient_name || ''}</td>
                            <td>${item.treatment_type || ''}</td>
                            <td>${item.band || ''}</td>
                            <td>${formatDate(item.date_of_request)}</td>
                            <td>${formatDate(item.bill_date)}</td>
                            <td>${item.claim_amount || 0}</td>
                            <td>${item.sanction_amount || 0}</td>
                            <td>${item.balance_amount || 0}</td>
                            <td>${formatDate(item.sent_to_tmo)}</td>
                            <td>${formatDate(item.received_from_tmo)}</td>
                        </tr>
                    `);
                });

                $('#table_id').DataTable({
                    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    destroy: true
                });
            },
            error: function () {
                $("#btnSearch").text("Search");
                alert("Something went wrong.");
            }
        });
    }


    function formatDate(dateString) {

        if (!dateString) return "";

        var date = new Date(dateString);
        if (isNaN(date)) return "";

        var day = ("0" + date.getDate()).slice(-2);
        var month = ("0" + (date.getMonth() + 1)).slice(-2);
        var year = date.getFullYear();

        return day + "-" + month + "-" + year;
    }

</script>
