
@{
    ViewBag.Title = "Change Password";
}

<article class="col-md-12">
    <div class="row pt-2 pb-2 bg-light">
        <div class="col-md-12">
            <h3> Change Password</h3>
        </div>
    </div>
    <form>
        <div class="col-md-6">
            <div class="form-row pt-3">
                <div class="form-group col-md-12">
                    <label for="">Current Password</label>
                    <input type="password" class="form-control" id="CurrentPassword" placeholder="Current Password">
                    <label class="has-error"></label>
                </div>

                <div class="form-group col-md-12">
                    <label for="">New Password</label>
                    <input type="password" class="form-control" id="NewPassword" placeholder="New Password">
                    <label class="has-error"></label>
                </div>
                <div class="form-group col-md-12">
                    <div class="form-group">
                        <label for="">Confirm Password</label>
                        <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password">
                        <label class="has-error"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-3"> <a href="javascript:void(0)" class="btn btn-primary" id="updatePassword">Submit</a> </div>
            </div>
        </div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</article>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {

        $("#updatePassword").click(function () {

            var RetStatus = true;
            $(".has-error").html("");
            var CurrentPassword = $("#CurrentPassword").val().trim();
            var NewPassword = $("#NewPassword").val().trim();
            var ConfirmPassword = $("#ConfirmPassword").val().trim();


            if (CurrentPassword == "") {
                $("#CurrentPassword").parent().find(".has-error").html("Required*");
                $("#CurrentPassword").focus();
                RetStatus = false;
            }

            if (NewPassword == "") {
                $("#NewPassword").parent().find(".has-error").html("Required*");
                $("#NewPassword").focus();
                RetStatus = false;
            }
            if (ConfirmPassword == "") {
                $("#ConfirmPassword").parent().find(".has-error").html("Required*");
                $("#ConfirmPassword").focus();
                RetStatus = false;
            }
            else {
                if (ConfirmPassword != NewPassword) {
                    $("#ConfirmPassword").parent().find(".has-error").html("Password doesn't match.");
                    $("#ConfirmPassword").focus();
                    RetStatus = false;
                }
            }


            if (RetStatus == true) {
                var data = {
                    "CurrentPassword": CurrentPassword,
                    "NewPassword": NewPassword
                };
                $.ajax({
                    url: "/Settings/UpdateUserPassword",
                    type: "post",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result["Status"] == true) {
                            toastr["success"](result["Message"]);
                        }
                        else {
                            toastr["error"](result["Message"]);
                        }
                    },
                    error: function (xhr) {
                        if (xhr.status === 401) {
                            window.location.reload();
                            return;
                        }
                        toastr["error"]("Something went wrong. Please try after some time.");
                    }
                });
            }
        })


    })
</script>