
@{
    ViewBag.Title = "Data Templates";
}

<article class="col-md-12">


    <hr>
    <form>

        <table class="table border text-center">
            <thead>

                <tr>
                    <th scope="col" class="text-left"></th>
                    <th scope="col" class="bg-light">Download Excel Format</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="text-left">Clients</th>
                    <td class="bg-light"><a href="~/DataTemplates/clients-template.xlsx" download><i class="fa fa-file-excel-o"></i></a> </td>
                </tr>
                <tr>
                    <th scope="row" class="text-left">Client POC</th>
                    <td class="bg-light"><a href="~/DataTemplates/client-poc-template.xlsx" download><i class="fa fa-file-excel-o"></i></a>  </td>
                </tr>
                <tr>
                    <th scope="row" class="text-left">Candidates</th>
                    <td class="bg-light"><a href="~/DataTemplates/Candidates-template.xlsx" download><i class="fa fa-file-excel-o"></i></a>  </td>
                </tr>

            </tbody>
        </table>
        </p>

    </form>
</article>

