@model MedicalR.Models.CommonSettings.ExpenceTypeModel

@{
    ViewBag.Title = "Expense_AddNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 p-0">
    <ul class="nav">
        <li class="nav-item"> <a class="nav-link" href="/settings/Expence_Type">Statistics</a> </li>
        <li class="nav-item"> <a class="nav-link text-dark" href="javascript:void(0);"><strong>Expense name</strong></a> </li>

    </ul>
    <hr class="m-0">
</div>
<article class="col-md-12">
    <div class="row pt-2 pb-2 bg-light">
        <div class="col-md-12">
            <h3>Enter Expense Type</h3>
        </div>
    </div>
    <hr>
    <form>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Tratement Type <span class="text-danger">*</span></label>
                        @*<input type="text" class="form-control" id="Treat_Type" placeholder="Treatement Type" >*@
                        <select class="form-control select2" id="Treat_Type">

                            @foreach (var item in ViewBag.TreatmentType)
                            {
                                <option value="@item.Name">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="">Expense Type </label>
                        <input type="text" class="form-control" id="Expence_Type" placeholder="Expense Type" >
                    </div>
                    <div class="form-group col-md-12">
                        <label for="">Heads of Expense </label>
                        <input type="text" class="form-control" id="Head_Expence" placeholder="Head Of Expense" >
                    </div>


                </div>
            </div>

            <div class="row pt-3">
                <input type="hidden" id="ID"  />
                <div class="col-md-12 mt-5">
                    <a href="javascript:void(0)" class="btn btn-primary" id="AddExpense" data-val="1">Save</a> 
                  
                </div>
            </div>
        </div>
    </form>
</article>
<script>
    $(document).ready(function () {

        $("#AddExpense").click(function () {
          
        
            var RetStatus = true;
          $(".has-error").html("");
            var ID = $("#ID").val().trim();
            var Treat_Type = $("#Treat_Type").val().trim();
            var Expence_Type = $("#Expence_Type").val().trim();
            var Head_Expence = $("#Head_Expence").val().trim();



            if (Treat_Type == "")
            {
                $("#Treat_Type").parent().find(".has-error").html("Required*");
                $("#Treat_Type").focus();
                RetStatus = false;
            }


            if(RetStatus==true)
            {
                var data = {
                    "ID": ID,
                    "Treat_Type": Treat_Type,
                    "Expence_Type": Expence_Type,
                    "Head_Expence": Head_Expence

                };
                $.ajax({
                    url: "/Settings/ExpenseNewAdd",
                    type: "post",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result["Status"] ==true)
                        {
                            toastr["success"](result["Message"]);

                           window.location.href = "@Url.Action("Expence_Type", "Settings")";
                        }
                        else
                        {
                            toastr["error"](result["Message"]);
                        }
                    },
                    error: function (xhr) {
                        if (xhr.status === 401) {
                            window.location.reload();
                            return;
                        }
                        toastr["error"]("Something went wrong. Please try after some time.");
                    }
                });
            }
        })
    })
</script>
