
@{
    ViewBag.Title = "Settings";
}

<article class="col-md-12">
    <div class="row pt-2 pb-2 bg-light">
        <div class="col-md-12">
            <h3>App Settings</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3 p-3">
            <div class="card">
                <i class="fa fa-tasks fa-5x text-secondary mt-3"></i>
                <div class="card-body"> <a href="/settings/Hospital_list" class="btn btn-primary">Hospital List</a> </div>
                @*<div class="card-body"> <a href="/settings/company-information" class="btn btn-primary">Company Information</a> </div>*@
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="card">
                <i class="fa fa-tasks fa-5x text-secondary mt-3"></i>
                <div class="card-body"> <a href="/settings/Expence_Type" class="btn btn-primary">Expence Type</a> </div>
                @*<div class="card-body"> <a href="/settings/profile" class="btn btn-primary">Profile</a> </div>*@
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="card">
                <i class="fa fa-tasks fa-5x text-secondary mt-3"></i>
                <div class="card-body"> <a href="/settings/Objection" class="btn btn-primary">Objection</a> </div>
                @*<div class="card-body"> <a href="/settings/data-templates" class="btn btn-primary">Import Data Templates</a> </div>*@
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="card">
                <i class="fa fa-list-alt fa-5x text-secondary mt-3"></i>
                <div class="card-body"> <a href="/Settings/template_module" class="btn btn-primary">Template Module</a> </div>
                @*<div class="card-body"> <a href="/settings/change-password" class="btn btn-primary">Change Password</a> </div>*@
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="card">
                <i class="fa fa-tasks fa-5x text-secondary mt-3"></i>
                <div class="card-body"> <a href="/settings/Doctor_List" class="btn btn-primary">Doctor List</a> </div>
                @*<div class="card-body"> <a href="/settings/company-information" class="btn btn-primary">Company Information</a> </div>*@
            </div>
        </div>
        @*<div class="col-md-3 p-3">
            <div class="card">
                <i class="fa fa-users fa-5x text-secondary mt-3"></i>
                <div class="card-body"> <a href="/settings/users" class="btn btn-primary">User Management</a> </div>
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="card">
                <i class="fa fa-handshake-o fa-5x text-secondary mt-3"></i>
                <div class="card-body"> <a href="/settings/vendors" class="btn btn-primary">Vendor Management</a> </div>
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="card">
                <i class="fa fa-envelope fa-5x text-secondary mt-3"></i>
                <div class="card-body"> <a href="/settings/email-configuaration" class="btn btn-primary">Email Configurations</a> </div>
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="card">
                <i class="fa fa-tasks fa-5x text-secondary mt-3"></i>
                <div class="card-body"> <a href="/settings/roles" class="btn btn-primary">Roles-Privileges</a> </div>
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="card">
                <i class="fa fa-list-alt fa-5x text-secondary mt-3"></i>
                <div class="card-body"> <a href="settings/template-module" class="btn btn-primary">Template Module</a> </div>
            </div>
        </div>

        <div class="col-md-3 p-3">
            <div class="card">
                <i class="fa fa-list-alt fa-5x text-secondary mt-3"></i>
                <div class="card-body"> <a href="settings/job-boards" class="btn btn-primary">Job Boards</a> </div>
            </div>
        </div>*@
    </div>
</article>

