@model IEnumerable<MedicalR.Models.CommonSettings.ObjectionModel>

@{
    ViewBag.Title = "Objection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 p-0">
    <ul class="nav">
        <li class="nav-item"> <a class="nav-link text-dark" href="#"><strong>Statistics</strong></a> </li>
        <li class="nav-item"> <a class="nav-link" href="/settings/Objection/0/add">Create Objection</a> </li>
    </ul>
    <hr class="m-0">
</div>
<article class="col-md-12">
    <div class="pt-3">
        <div id="sidemain" class="float-left pl-1"> <span class="btn btn-primary" style="cursor:pointer" onclick="openNav()"><i class="fa fa-search text-light mr-3"></i> FILTER BY</span> </div>
        <div class="">
            <select class="custom-select col-sm-2" id="inlineFormCustomSelect" onchange="location = this.options[this.selectedIndex].value;">
                <option selected>Action</option>
                <option value="">Print</option>
                <option value="">Export To Excel</option>
                <option value="">Export To Pdf</option>
            </select>
            <a href="/settings/Objection/0/add" class="btn btn-secondary plusbut float-right ml-1">+</a>
        </div>
    </div>
    <hr/>
    @*<input type="text" id="tableSearch" class="table-search form-control col-md-2 float-right" placeholder="Search..." />*@
    <table id="dtBasicExample" class="table table-hover table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">SR.No</th>
                <th class="th-sm">Objection Code</th>
                <th class="th-sm">Objection Desc</th>
                <th class="th-sm text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Obj_Code</td>
                    <td>@item.Obj_Desc</td>

                    <td>
                        <select class="custom-select dropright sel" id="inlineFormCustomSelect" onchange="location = this.options[this.selectedIndex].value;">
                            <option selected>Select </option>
                            <option value="/settings/Objection/@item.Id/edit">Edit</option>
                            <option value="/settings/Objection/@item.Id/edit">Delete</option>
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Count() == 0)
    {
        <div class="no-data-found">No Data Found</div>
    }
</article>


@section Scripts {
    <script>
        $(function () {

            if ($.fn.DataTable.isDataTable('#dtBasicExample')) {
                $('#dtBasicExample').DataTable().destroy();
            }

            $('#dtBasicExample').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                lengthChange: true
            });

        });
    </script>
}
@*<script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>*@