@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 headerstatics">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-dark"><strong>Statistics</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/HospitalizationDHRD/Item/0">
                        Hospitalization DHRD Approved
                    </a>
                </li>
            </ul>
            <hr class="m-0">
        </div>

        <article class="col-md-12">
            <div class="pt-3">
                <a href="/HospitalizationDHRD/Item/0"
                   class="btn btn-secondary plusbut float-right ml-1">+</a>
            </div>
            <br />

            <div id="UserContent">
                <table id="table_id"
                       class="table table-hover table-bordered"
                       cellspacing="0"
                       width="100%">
                    <thead>
                        <tr>
                            <th>Appln.Ref.No.</th>
                            <th>EmplID</th>
                            <th>Date of Request</th>
                            <th>Total Claimed</th>
                            <th>Sanction Amount</th>
                            <th>Balance Amount</th>
                            <th>Status</th>
                            <th>Office Note</th>
                            <th>Bank Advise</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </article>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {

        loadHospitalizationGrid();

        function loadHospitalizationGrid() {

            $.ajax({
                url: '/HospitalizationDHRD/GetHospitalizationDHRDGridData/',
                type: 'POST',
                dataType: 'json',
                success: function (response) {

                    // Destroy existing table if already initialized
                    if ($.fn.DataTable.isDataTable('#table_id')) {
                        $('#table_id').DataTable().clear().destroy();
                    }

                    $('#table_id').DataTable({
                        bLengthChange: true,
                        lengthMenu: [[10, 15, 20, -1], [10, 15, 20, "All"]],
                        bFilter: true,
                        bSort: true,
                        bPaginate: true,
                        data: response,
                        columns: [

                            {
                                data: 'appln_no',
                                render: function (data, type, row) {
                                    return '<a href="/HospitalizationDHRD/Item/' + row.id + '">' + data + '</a>';
                                }
                            },
                            { data: 'employee_code' },

                            {
                                data: 'date_of_request',
                                render: function (data) {
                                    if (!data) return '';
                                    var date = new Date(data);
                                    var month = date.getMonth() + 1;
                                    month = month < 10 ? "0" + month : month;
                                    return date.getDate() + "/" + month + "/" + date.getFullYear();
                                }
                            },

                            { data: 'medical_claim_forwd_dhrd_inrs' },
                            { data: 'amount_sanction_by_tmo_inrs' },
                            { data: 'balance_amount' },
                            {
                                data: 'status',  
                                defaultContent: ''
                            },

                            {
                                render: function (data, type, row) {
                                    return '<a href="/HospitalizationDHRD/DownloadOfficeNotes/' + row.id + '">Download</a>';
                                }
                            },
                            {
                                render: function (data, type, row) {
                                    return '<a href="/HospitalizationDHRD/DownloadBankAdvise/' + row.id + '">Download</a>';
                                }
                            }
                        ]
                    });
                },
                error: function (xhr) {
                    console.error("Error loading grid:", xhr.responseText);
                    alert("Something went wrong while loading data.");
                }
            });
        }
    });
</script>
