
@{
    ViewBag.Title = "LetterForBank";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        /* Style the body */
        body {
            font-family: Arial;
            margin: 0;
        }

        ex1 {
            border: 1px solid red;
            padding: 35px;
        }
        /* Header/Logo Title */
        .header {
            margin: auto;
            width: 60%;
            border: 1px solid black;
            padding: 20px;
            color: black;
            font-size: 12px;
            border-color: black;
            /* border: 1px solid red;
        padding: 20px;
        color: black;
        font-size: 10px;
        border-color:black;*/
        }

        .contents {
            margin: auto;
            width: 60%;
            padding: 5px;
            color: black;
            font-size: 16px;
        }

        /* Page Content */
        .content {
            padding: 20px;
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            @*<ul class="nav">
                    <li class="nav-item"> <a class="nav-link text-dark" href="javascript:void(0);"><strong>Statistics</strong></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Bill Process</a> </li>
                </ul>*@
            <hr class="m-0">
        </div>
        <article class="col-md-12">
            <div class="pt-3">
            </div>
            <div class="pt-3">
            </div>
            <div class="pt-3">
            </div>
            <div class="pt-3">

            </div>
            <div class="row">
                <div class="form-group col-md-6"></div>
                <div class="form-group col-md-4"></div>
                <button type="button" class="btn-primary" onclick="getPDF()">Print</button>
            </div>
            <div class="PDF">
                <div class="row" id="contnet">
                    <div class="header">
                        <h3 style="text-align: center"><strong>UTI AMC LTD.</strong></h3>
                        <h6 style="text-align: center"><strong>Departments of Accounts-AMC</strong></h6>
                        <p style="text-align: center"><strong>UTI Tower , Gn Block</strong></p>
                        <p style="text-align: center"><strong>Bandra Kurla Complex</strong></p>
                        <p style="text-align: center"><strong>Bandra(East), Mumbai - 400051</strong></p>
                        <p style="text-align: center"><span>Phone </span><span style="word-spacing:1px ">:66786542</span><span style="word-spacing: 100px">. Fax</span><span style="word-spacing:1px "> : 26528991</span> </p>

                    </div>
                    <div class="contents">
                        <p>Ref : UT/DOAA/___________________/2020-2021</p>
                        <p>The Branch Manager</p>
                        <p>Axis Bank Ltd.</p>
                        <p>BKC Extension Counter</p>
                        <p></p>
                        <p>Dear Sir / Madam</p>
                        <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Re : FUND TRANSFER FOR CENTRALISED PAYMENT</h6>
                        <p>Kindly arrange to transfer a sum of Rs. 6000 from our collection account no.</p>
                        <p>776010200000295 to our payment account no.776010200000107 under advise to</p>
                        <p>us to effect the payment of:-</p>
                        <p>payment of CHC (Medical)</p>

                        <p>Name of CHC Centre &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Amount(Rs.)</p>
                        <p>Asian Heart Institute &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6000.00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Axis Bank SB A/C No</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;230010200001045 IFSC</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CODE UTIB0000230 Bandra</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(E) Branch.</p>




                        <p>Thanking you,</p>
                        <p>For UTI AMC Ltd.</p>

                    </div>
                </div>
            </div>


        </article>
    </div>
</div>

<script src="https://www.freakyjolly.com/multipage-canvas-pdf-using-jspdf/"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script>


    function getPDF() {

        var HTML_Width = $(".PDF").width();
        var HTML_Height = $(".PDF").height();
        var top_left_margin = 15;
        var PDF_Width = HTML_Width + (top_left_margin * 2);
        var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
        var canvas_image_width = HTML_Width;
        var canvas_image_height = HTML_Height;

        var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


        html2canvas($(".PDF")[0], { allowTaint: true }).then(function (canvas) {
            canvas.getContext('2d');

            console.log(canvas.height + "  " + canvas.width);


            var imgData = canvas.toDataURL("image/jpeg", 1.0);
            var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
            pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);


            for (var i = 1; i <= totalPDFPages; i++) {
                pdf.addPage(PDF_Width, PDF_Height);
                pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
            }

            pdf.save("HTML-Document.pdf");
        });
    };

</script>
