<div class="container-fluid" ng-controller="PastDetailList">
    <div class="row">
        <article class="col-md-12">
           
            <div id="UserContent">

                <table id="table_id" class="table table-hover table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">Employee_Name</th>
                            <th class="th-sm">Appln.Ref.No</th>
                            <th class="th-sm">Date of Request</th>
                            <th class="th-sm">Name of Patient</th>
                            <th class="th-sm">Relationship</th>
                            <th class="th-sm">Total Claimed Rs</th>
                            <th class=" th-sm">Treatment Type</th>
                            <th class="th-sm">Application Status</th>
                            <th class="th-sm">Form</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </article>
    </div>
    <script>

        app.controller("PastDetailList", ["$scope", "PastDetailListFactory", "$timeout", "$location", "$window", "$filter", "$compile", function ($scope, PastDetailListFactory, $timeout, $location, $window, $validator, $filter, $compile) {


            $scope.actions = [{ "id": 0, "name": "Select" }, { "id": 1, "name": "PastDetailList" }]
            $scope.action_id = $scope.actions[0].id;

            $scope.ackChecked = function () {
                alert("ok");
            };



            //$('#table_id').on('click', 'tr', function () {
            //    debugger
            //    if ($(this).is(":checked")) {
            //        alert("Checkbox Is Checked");
            //    }
            //    var data = $('#table_id').DataTable().row(this).data();
            //});
            $scope.PastDetailListStart = function (action_id) {
                if (action_id === 1) {
                    PastDetailListFactory.PastDetailListStart($scope.ack_grid_details).then(function (success) {
                        debugger
                        toastr["success"](success.data);
                        // $window.location.reload();
                    });
                }
                return;
            };

            $('#table_id tbody').on('change', 'input[type="button"]', function () {
                debugger
                // If checkbox is not checked

                var claim_request_id = parseInt($(this).parents("tr").find(".clsAck").val());



            });

            PastDetailListFactory.init(
                function (success) {

                    $scope.cr_grid_details = success[0].data;

                    $("#table_id").dataTable({
                        bLengthChange: true,
                        lengthMenu: [[10, 15, 20, -1], [10, 15, 20, "All"]],
                        bFilter: true,
                        bSort: true,
                        bPaginate: true,
                        data: success[0].data,

                        columns: [
                            {
                                'data': 'employeename'
                            },
                            {

                                'data': 'appln_no',
                                'render': function (data, type, row) {
                                    return '<a href="/MedicalRequest/Item/' + row.id + '">' + row.appln_no + '</a>'
                                }
                            },
                            {
                                'data': 'created_date',
                                "render": function (data) {
                                    var date = new Date(data);
                                    var month = date.getMonth() + 1;
                                    return date.getDate() + "/" + (month.toString().length > 1 ? month : "0" + month) + "/" + date.getFullYear();
                                }
                            },
                            {
                                'data': "patient_name"
                            },
                            {
                                'data': 'family_relation_code'
                            },
                            { 'data': 'total_claimed_rs' },
                            {
                                'data': 'treatment_type'
                            },
                            {
                                'data': 'payment_status'
                            },
                            {

                                'data': 'appln_no',
                                'render': function (data, type, row) {
                                    return '<a href="/MedicalRequest/download/' + row.id + '">Download</a>'
                                }
                            }
                            //,{
                            //    'data': 'id',
                            //    "render": function (data, type, full, meta) {
                            //        //success[0].data[meta.row].id = meta.row + 1; // adds id to dataset
                            //        //return meta.row + 1; // adds id to serial no
                            //        return '<a href="#" onclick="appln_del(' + data.claim_request_id + ')" class="form-control"><span class="fa fa-times-circle"></span></a>'
                            //    }
                            //}
                        ]
                    });


                });
        }]);
        app.factory("PastDetailListFactory", ["$rootScope", "$http", "$q", function ($rootScope, $http, $q) {
            this.init = function (success, failure) {
                var id = 0;
                var urls = window.location.href.split('?')[0].split('/');
                if (!isNaN(urls[urls.length - 1]))
                    id = eval(urls[urls.length - 1]);
                $q.all([
                    this.cr_grid_details(),
                ]).then(function (msg) {
                    success(msg);
                }, failure);
            }
            this.cr_grid_details = function () {
                return $http.post('/MedicalRequest/GetClaimRequestGridData/');
            }
            return this;
        }]);

        function PrintRquestedForm() {
            var requested_id = $("#request_id").val();
            if (requested_id == '') {
                alert("Please select ");
            }
            else {
                var requested_id = $("#request_id").val();
                $("#exportData input[name=request_id]").val(140);
                $("#exportData").submit();
            }
        }
    </script>
</div>