<div class="list-group list-group-flush">
    <div class="list-group-item list-group-item-action">
        <div class="media">
            <div class="media-body">
                <p class="mb-1"><strong>EmplID</strong> : 2972</p>
                <h5>Mr.Shiva Charan Sethi</h5>
            </div>
        </div>

    </div>
    <div class="list-group-item list-group-item-action">
        <h6 class="font-weight-bold">Appln.No <span class="small">: New-1</span></h6>
    </div>
    <div class="list-group-item list-group-item-action">
        <h6 class="font-weight-bold">Band <span class="small">: 5</span></h6>
    </div>
    <div class="list-group-item list-group-item-action">
        <h6 class="font-weight-bold">Department <span class="small">: DOAA-IT Cell</span></h6>
    </div>

    <div class="list-group-item list-group-item-action">
        <h6 class="font-weight-bold">Location <span class="small">: Corporate Office</span></h6>
    </div>
    <div class="list-group-item list-group-item-action">
        <h6 class="font-weight-bold">Email <span class="small">: <a href="mailto:shiva@gmail.com">shiva@gmail.com</a></span></h6>
    </div>
    <div class="list-group-item list-group-item-action">
        <h6 class="font-weight-bold">Designation <span class="small">: Vice President</span></h6>
    </div>


</div>
